[bumpversion]
current_version = 1.0.2
commit = True
tag = True
tag_name = v{new_version}
message = Bump version: {current_version} → {new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<revision>\d+)
serialize = {major}.{minor}.{revision}

[bumpversion:part:major]

[bumpversion:part:minor]

[bumpversion:part:revision]

[bumpversion:file:prj]
search = prj ver {current_version}
replace = prj ver {new_version}
